
/* ESERCIZIO 1) Crea un selettore per selezionare l'<h1> nella sezione "hero", ovvero nel jumbotron */
.jumbotron h1{
    color: rgb(228, 23, 239);
}

/* ESERCIZIO 2) Crea un selettore per selezionare tutti i figli dell'elemento navbar */
.nav span{
    background-color: rgb(56, 207, 14);
    color: white;
}
/* 
ESERCIZIO 3) Crea un selettore per selezionare il link "Continua a leggere" del jumbotron */

.jumbotron .font-weight-bold {
    text-decoration: underline red 2px;
}

/* ESERCIZIO 4) Crea un selettore per selezionare il primo blog post */
.col-md-8 div:first-of-type{
    background-color: rgb(198, 245, 121);
}

/* ESERCIZIO 5) Crea un selettore per selezionare l'<hr> del primo blog post e colorarlo di rosso */

.blog-post hr:first-of-type{
    background-color:red;
}
/* ESERCIZIO 6) Crea un selettore per selezionare i link pari della navbar */
.nav  :nth-child(even){
    text-decoration:underline blue;
}

/* ESERCIZIO 7) Crea un selettore per selezionare tutti gli <li> della prima "ordered-list" della sidebar ("Archivio") */
.mb-0 li {
   background-color: rgb(241, 200, 171);
    
}

/* ESERCIZIO 8) Crea un selettore per selezionare l'autore del secondo blog post */
.blog-post:nth-of-type(2) .blog-post-meta a{
    background-color: rgb(14, 228, 39);
}

/* ESERCIZIO 9) Crea un selettore per selezionare il secondo <li> della lista del terzo blog post */
.col-md-8 :nth-child(4) ul :nth-child(2){
    text-decoration:underline red;
}

/* ESERCIZIO 10) Crea un selettore per selezionare il link "Torna su" che trovi a fondo pagina nell'angolo in basso a destra */

.float-right {
    color: darkorchid;
}

/* ESERCIZIO 11) Crea un selettore per selezionare il bottone "Nuovi" che trovi in basso */
.blog-pagination a:nth-child(2){
    background-color: rgb(172, 14, 14);
    color: white;
}

/* ESERCIZIO 12) Crea un selettore per selezionare il secondo link del footer */

footer a:last-child
{
    color: hotpink;
}


